p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
p.content {
  margin-top: 10px;
}
p.welcome {
  font-size: 30px;
  margin: 0px;
}
p.time {
  font-size: 15px;
  font-family: "Nanum Gothic", sans-serif;
  text-align: right;
}

#logo {
  float: left;
}

#tobemember {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 40px;
  font-weight: 500;
}
